/* styles/PokemonCard.css */
@media (max-width: 600px) {
  .PokemonCard {
    width: 100%;
    background-color: aquamarine;
    align-content: center;
  }
}

/* styles/PokemonDetailModal.css */
@media (max-width: 600px) {
  .PokemonDetailModal {
    max-width: 100%;
    max-height: 100%;
  }
}

/* styles/PokemonList.css */
@media (max-width: 600px) {
  .PokemonList {
    flex-direction: column;
    
  }
}

/* styles/SearchBar.css */
.SearchBar {
  width: 100%;
}

/* styles/TypeFilter.css */
.TypeFilter {
  width: 100%;
}
.clicktoopen{
  background-color: bisque;
  
  
}
.content{
  
  align-items: center;
  align-content:space-around;
}